.contact_section {
    padding: 25% 0;
    background: rgba(166, 166, 255, 0.322);
}

.contact_form,
.contact_container,
.input_container,
.contact_div {
    flex-direction: column;
    height: fit-content;
}

.contact_inputType {
    display: flex;
    flex-direction: column;
}

.input_container {
    align-items: start;
}

.contact_title {
    text-align: center;
    padding-bottom: 1rem;
    font-size: 2rem;
}

.input_container input,
.input_container textarea {
    width: 280px;
    height: 50px;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--light_grey);
}

.input_container textarea {
    height: 100%;
    min-height: 200px;
    max-height: 400px;
}

.contact_button {
    width: 150px;
    height: 40px;
    margin: 2rem 0;
}

.contact_imgSection h2 {
    text-align: center;
    padding: 2rem;
}

.contact_form {
    background-color: white;
    padding: 2rem 1rem;
    border-radius: 0.3rem;
}

@media (min-width: 500px) {
    .contact_section {
        padding: 15% 0;
    }
}

@media (min-width: 800px) {

    .contact_section {
        padding: 10% 0;
    }

    .input_container {
        flex-direction: row;
    }
}