@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --baby_yellow: #ecbc6b;
  --baby_green: #919f89;
  --baby_blue: #3c5474;
  --baby_red: #d46c6c;
  --baby_pink: #ffb7a1;
  --baby_brown: #7f3d38;
  --light_yellow: #fdf7c3;
  --light_green: #c8dbbe;
  --light_blue: #a7cbd9;
  --light_red: #ffb4b4;
  --light_pink: #fcd1d1e3;
  --x-small: 1rem;
  --small: 1.2rem;
  --medium: 1.6rem;
  --large: 2rem;
  --x-large: 2.4rem;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p_1 {
  padding: 1rem;
}

.title {
  font-size: var(--medium);
  color: var(--baby_blue);
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.pink {
  background-color: var(--light_pink);
}

.yellow {
  background-color: var(--light_yellow);
}

.blue {
  background-color: var(--light_blue);
}

.green {
  background-color: var(--light_green);
}

.red {
  background-color: var(--light_red);
}

.white {
  background-color: white;
  border: 1px solid var(--light_yellow);
}
