@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

:root {
  --baby_yellow: #ecbc6b;
  --baby_green: #919f89;
  --baby_blue: #3c5474;
  --baby_red: #d46c6c;
  --baby_pink: #ffb7a1;
  --baby_brown: #7f3d38;
  --light_yellow: #fdf7c3;
  --light_green: #c8dbbe;
  --light_blue: #769fcd;
  --light_red: #ffb4b4;
  --light_pink: #fcd1d1e3;
  --x-small: 1rem;
  --small: 1.2rem;
  --medium: 1.6rem;
  --large: 2rem;
  --x-large: 2.4rem;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p_1 {
  padding: 1rem;
}
