.navbar_modalButtons {
  background-color: var(--baby_green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.modal_title {
  color: var(--baby_red);
}

.signupSuccess_modal {
  width: 60px;
  background-color: var(--baby_yellow);
}

.signupSuccess_title {
  color: var(--baby_pink);
}

.navbar_container {
  position: relative;
}

.menu_section {
  position: absolute;
  top: -300px;
  background-color: white;
  transition: all 1s;
}

.menu_listContainer {
  width: 100vw;
  display: grid;
  grid-template-columns: auto auto auto;
}

.menu_listContainer li {
  padding: 1rem;
}

.showMenu {
  top: 8px;
}