.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 100;
}

.navbar_logo {
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navbar_logo img {
  width: 100%;
  height: 100%;
}

.navbar-nav {
  margin-top: 4%;
}

.navbar_userIcons {
  padding: 0;
  margin: 0;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar_userIcons li {
  padding: 0.5rem;
  color: var(--baby_green);
}

.navbar_iconsOptions {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.navbar_envelope {
  padding: 0 0.3rem;
}

.btn-outline-success {
  border-color: var(--baby_green) !important;
  color: var(--baby_green) !important;
}

.float_rigth {
  padding: 0.5rem 0.8rem;
}

.nav-item {
  font-size: var(--small);
}

.nav-item a:hover,
.nav-item:hover {
  text-decoration: underline !important;
  color: var(--baby_green) !important;
}

.btn-outline-success:hover {
  background-color: white;
}

.navbar_dropdownBtn {
  width: auto;
}

.navbar_container {
  z-index: 100000;
}

.navbar_dropdownIcon {
  color: var(--baby_green);
}

.navbar_mobileLogin {
  width: 45%;
  display: flex;
  justify-content: end;
  color: var(--baby_green);
}

.navbar_mobileMini {
  width: 45%;
  padding: 0.3rem 0;
  display: flex;
  justify-content: end;
}

.navbar_btn {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  color: var(--baby_green);
}

.nav-item {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar_lg_ul {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0.5rem;
  }

  .navbar_lg_ul li {
    padding: 0 1rem;
  }

  .collapse {
    width: 60%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .navbar_buttons {
    width: 80px;
    background-color: var(--baby_green);
    margin: 0 0.5rem;
  }

  .form-control {
    width: 150px !important;
  }
}

@media (min-width: 900px) {
  .navbar_lg_ul li {
    padding: 0 1rem;
  }

  .collapse {
    width: 60%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .navbar_buttons {
    width: 100px;
    background-color: var(--baby_green);
    margin: 0 1rem;
  }

  .navbar_form {
    width: 50%;
  }

  .navbar_form button {
    width: auto;
  }

  .form-control {
    width: 80% !important;
  }
}
