.home_categoriesOptin {
  width: 220px;
  height: 70px;
}

.home_secondSection {
  background: var(--light_blue);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 4% auto;
  grid-template-columns: auto auto;
  place-content: center;
  gap: 3%;
  padding: 2rem 0 4rem 0;
}

.home_categoriesOptin {
  position: relative;
  z-index: 50;
}

.home_categoriesName {
  width: 100%;
  height: 40px;
  background: white;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_categoriesName p {
  margin: 0;
  font-size: var(--small);
  font-weight: 600;
  color: var(--baby_blue);
}

@media (min-width: 600px) {
  .home_secondSection {
    width: 100vw;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
  }
}

@media (min-width: 900px) {
  .home_secondSection {
    -ms-grid-columns: auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto;
  }
}
